<form name="form1" method="post" action="sendPwd" id="form1">
    <div>
        <input type="hidden" name="key"  value="{$keycode}" />
    </div>
    <div class="container m0 bod top70" id="zt">

        <div class="pwd">
            <div class="page-header">
                <h3>jQuery插件库找回密码</h3>
            </div>
            <div class="input-group">
                <input name="eml" type="text" id="eml" class="form-control" placeholder="登录邮箱" />
                <span class="input-group-btn">

                    <input type="submit" name="Button1" value="发送重设密码地址" id="Button1" class="btn btn-default pwdbut" />
                </span>
            </div>
            <!-- /input-group -->
        </div>
    </div>

</form>