<!--主体-->
        <!--左-->
            {volist name='pls' id='pl'}
            <div class="col-lg-5 col-md-3 col-sm-4">
                <a href="page?id={$pl.id}" target="_blank"><img src="uploads/img/{$pl.img}.png"></a>
                <div class="cover-info">
                    <a href="page?id={$pl.id}" target="_blank"><h4>{$pl.title}</h4></a>
                    <small>{$pl.describe}</small>
                </div>
                <div class="cover-fields">
                    <i class="fa fa-list-ul"></i> &nbsp;{$pl.keyword}
                </div>
                <div class="cover-stat">
                    <i class="fa fa-eye"></i><span class="f10"> &nbsp;{$pl.eye}</span>
                    <i class="fa fa-heart"></i></i><span class="f10"> &nbsp;{$pl.heart}</span>
                    <div class="cover-yh">
                        <a href="man{$pl.uid}" data-container="body" data-toggle="popover" data-placement="top" data-content="{$pl.username} ">
                            <i class="fa fa-user-secret"></i>
                        </a>
                    </div>
                </div>
            </div>
            {/volist}
            {$pls->render()}

<script>
    $(document).ready(function(){
        var next_url = $("a.next").attr("href");
        var previous_url = $("a.previous").attr("href");
        $("a.next").attr("href",'#');
        $("a.previous").attr("href",'#');
        $("a.next").click(function(){
            $(".spjz").load(next_url);
        });
        $("a.previous").click(function(){
            $(".spjz").load(previous_url);
        });
        $('[data-toggle="popover"]').popover({trigger:'hover'});
    });
</script>