<form name="form1" method="post" action="./pwd-fsok.aspx" id="form1">

    <div class="container m0 bod top70" id="zt">

        <div class="pwd">
            <div class="page-header">
                <h3>jQuery插件库找回密码</h3>
            </div>
            <div class="input-group">
                <blockquote style="padding-top:50px; padding-left:60px">
                    <h3>邮件已发送</h3>
                    <p>请跟随邮件里的引导来重设你的登录密码。</p>
                </blockquote>

            </div>
            <!-- /input-group -->
        </div>
    </div>

</form>